.root {
    -fx-font-size: 14px;
    -fx-font-family: "Abel" sans-serif;
    -fx-background-color: #485460;
}
.scroll-bar {
    -fx-background-color: #434955;
    -fx-opacity: 0.2;
}
.scroll-bar > .decrement-arrow {
    -fx-background-color: white;
 }
.scroll-bar > .increment-arrow {
    -fx-background-color: white;
}

/* BorderPane - Top */
.top-hbox {
    -fx-background-color: #434955;
    -fx-border-bottom-color: #384451;
    -fx-border-bottom-weight: 15px;
    -fx-text-fill: white;
}
.top-hbox-label {
    -fx-background-color: #434955;
    -fx-text-fill: white;
}
.top-bottom-pane {
    -fx-background-color: linear-gradient(to bottom, #434955, #485460);
}


/* BorderPane - Left */
.left-anchor-pane-pane {
    -fx-background-color: #434955;
}

.titled-pane {
   /* -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";*/
}
.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white ;
}
.titled-pane > .title > .text {
    -fx-fill: white;
}
.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}
.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.list-cell:hover {
    -fx-background-color: #485460;
}
.list-cell:selected{
    -fx-background-color: #384451;
}

/* BorderPane - Center */
.imagePane {
    -fx-border-color: white;
}
.table-view {
    -fx-background-color: #434955;
}
.table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: white;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #485460;
}

.table-row-cell:selected{
    -fx-background-color: #384451;
}

/* BorderPane - Bottom */
.bottom-box {
    -fx-background-color: pink;
}
